[Unit]
Description=Landzunge Backend Service
AssertPathIsDirectory=%h/services/landzunge
AssertPathExists=%h/services/landzunge/.env

[Service]
MemoryMax=256M
CPUQuota=50%

[Container]
ContainerName=landzunge-backend
Image=ghcr.io/finnhoedt/landzunge-backend:1.2

# Network
Network=landzunge.network

# Secrets
Secret=landzunge_supabase_service_key,type=env,target=SUPABASE_SERVICE_KEY

# Environment
EnvironmentFile=%h/services/landzunge/.env

# Security
ReadOnly=true
NoNewPrivileges=true
DropCapability=all

[Install]
WantedBy=default.target