[defaults]
inventory = inventory.ini
roles_path = roles

vault_password_file = .vault_pass

host_key_checking = true
interpreter_python = auto_silent
stdout_callback = yaml

[privilege_escalation]
become = false