[Unit]
Description=Reverse Proxy
After=caddy.socket
Requires=caddy.socket
AssertPathIsDirectory=%h/services/caddy
AssertPathExists=%h/services/caddy/Caddyfile

[Service]
ExecReload=podman exec caddy /usr/bin/caddy reload --config /etc/caddy/Caddyfile --address unix//run/admin.sock --force
MemoryMax=256M
CPUQuota=50%

[Container]
ContainerName=caddy
Image=docker.io/library/caddy:2.10
Exec=/usr/bin/caddy run --config /etc/caddy/Caddyfile
Notify=true

# Network
Network=ntfy.network

# Volumes
Volume=%h/services/caddy:/etc/caddy:ro,Z
Volume=caddy-config.volume:/config
Volume=caddy-data.volume:/data

# Environment
EnvironmentFile=%h/services/caddy/.env

# Security
ReadOnly=true
NoNewPrivileges=true
DropCapability=all
AddCapability=CAP_NET_BIND_SERVICE