[Container]
ContainerName=whoami
Image=docker.io/traefik/whoami
Exec=--port 8080

# Network
Network=caddy.network

# Security
ReadOnly=true
NoNewPrivileges=true
DropCapability=all