EMAIL=admin@example.com
CLOUDFLARE_SECRET=secret

NTFY_DOMAIN=ntfy.example.com
KITCHENOWL_DOMAIN=kitchenowl.example.com
MOLLYSOCKET_DOMAIN=mollysocket.example.com
LANDZUNGE_API_DOMAIN=api.example.com
LANDZUNGE_ADMIN_DOMAIN=admin.example.com