{
	email {$EMAIL}

	default_bind fd/4 {
		protocols h1 h2
	}
	default_bind fdgram/5 {
		protocols h3
	}
	admin unix//run/admin.sock
	auto_https disable_redirects
}
(security_headers) {
	header {
		X-Content-Type-Options "nosniff"
		X-Frame-Options "DENY"
		Referrer-Policy "strict-origin-when-cross-origin"
		Strict-Transport-Security "max-age=31536000; includeSubDomains"
		Content-Security-Policy "default-src 'self'; img-src 'self' data:; style-src 'self' 'unsafe-inline'; script-src 'self'; object-src 'none'; base-uri 'self';"
		Permissions-Policy "camera=(), microphone=(), geolocation=(), payment=(), usb=(), autoplay=(), fullscreen=(self)"
	}
}
(common) {
	import security_headers
	encode zstd gzip
}
http:// {
	bind fd/3 {
		protocols h1
	}
	redir https://{host}{uri}
	log
}

{$NTFY_DOMAIN} {
	import common
	reverse_proxy ntfy:2586
	log
}
{$KITCHENOWL_DOMAIN} {
        import common
        header X-Frame-Options "SAMEORIGIN"
        reverse_proxy kitchenowl:8080
		log
}