{
	email {$EMAIL}

	default_bind fd/4 {
		protocols h1 h2
	}
	default_bind fdgram/5 {
		protocols h3
	}
	admin unix//run/admin.sock
	auto_https disable_redirects
}
(security_headers) {
	header {
		X-Content-Type-Options "nosniff"
		X-Frame-Options "DENY"
		Referrer-Policy "strict-origin-when-cross-origin"
		Strict-Transport-Security "max-age=31536000; includeSubDomains"
		Content-Security-Policy "default-src 'self'; img-src 'self' data:; style-src 'self' 'unsafe-inline'; script-src 'self'; object-src 'none'; base-uri 'self';"
		Permissions-Policy "camera=(), microphone=(), geolocation=(), payment=(), usb=(), autoplay=(), fullscreen=(self)"
	}
}
(common) {
	import security_headers
	encode zstd gzip
}
http:// {
	bind fd/3 {
		protocols h1
	}
	redir https://{host}{uri}
	log
}

{$NTFY_DOMAIN} {
	import common
	reverse_proxy ntfy:2586
	log
}
{$KITCHENOWL_DOMAIN} {
	import common
	header X-Frame-Options "SAMEORIGIN"
	reverse_proxy kitchenowl:8080
	log
}
{$MOLLYSOCKET_DOMAIN} {
	import common
	reverse_proxy mollysocket:8020
	log
}
{$MATRIX_BASE_DOMAIN} {
        import common
        
        header /.well-known/matrix/* Content-Type application/json
        header /.well-known/matrix/* Access-Control-Allow-Origin *
        respond /.well-known/matrix/server `{"m.server": "{$MATRIX_SUB_DOMAIN}:443"}`
        respond /.well-known/matrix/client `{"m.homeserver":{"base_url":"https://{$MATRIX_SUB_DOMAIN}"}}`
}
{$MATRIX_SUB_DOMAIN} {
        import common

        reverse_proxy /_matrix/* synapse:8008
        reverse_proxy /_synapse/client/* synapse:8008
}
(landzunge_app) {
        # Match requests that DO NOT have your secret password
        @not_cloudflare {
			not header X-Proxy-Secret {$CLOUDFLARE_SECRET}
        }

        # Strip the IP header if the password was missing/wrong
        request_header @not_cloudflare -CF-Connecting-IP

        # Remove the secret before sending to the backend
        request_header -X-Proxy-Secret

        reverse_proxy landzunge-backend:3000 {
			header_up X-Real-IP {remote_host}
        }
}
{$LANDZUNGE_API_DOMAIN} {
        import common

        request_body {
			max_size 10MB
        }

        @api path /api/*
        handle @api {
			import landzunge_app
        }

        handle {
			respond "Not Found" 404
        }
}
{$LANDZUNGE_ADMIN_DOMAIN} {
        import common

        @api path /api/*
        handle @api {
			respond "Not Found" 404
        }

        handle {
			import landzunge_app
        }
}